BETTER_AUTH_SECRET=replace-with-a-random-secret-at-least-32-characters-long
BETTER_AUTH_URL=http://192.168.1.21:3000
FRONTEND_URL=http://localhost:3000
EXPO_SCHEME=meudesafio2
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/meu_desafio?schema=public
GOOGLE_CLIENT_ID=replace-with-google-client-id
GOOGLE_CLIENT_SECRET=replace-with-google-client-secret
EMAIL_HOST=smtp.ethereal.email
EMAIL_PORT=587
EMAIL_USER=dorcas.mann43@ethereal.email
EMAIL_PASS=y9tn8N8VvYvKCRPhxP
EMAIL_FROM=dorcas.mann43@ethereal.email

# Cloudflare R2
R2_ACCOUNT_ID=your-account-id
R2_ACCESS_KEY_ID=your-access-key-id
R2_SECRET_ACCESS_KEY=your-secret-access-key
R2_PUBLIC_URL_DESAFIOS=https://your-bucket-url.com
