BETTER_AUTH_SECRET=replace-with-a-random-secret-at-least-32-characters-long
BETTER_AUTH_URL=http://localhost:3000
FRONTEND_URL=http://localhost:3000
EXPO_SCHEME=scheme
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/meu_desafio?schema=public
GOOGLE_CLIENT_ID=replace-with-google-client-id
GOOGLE_CLIENT_SECRET=replace-with-google-client-secret
EMAIL_HOST=smtp.ethereal.email
EMAIL_PORT=587
EMAIL_USER=dorcas.mann43@ethereal.email
EMAIL_PASS=y9tn8N8VvYvKCRPhxP
EMAIL_FROM=dorcas.mann43@ethereal.email
